@font-face {
  font-family: "iconfont"; /* Project id 2536090 */
  src: url('/static/iconfont.ttf');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-lg {
  font-family: "iconfont" !important;
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-code:before {
  content: "\e600";
}

.icon-edit:before {
  content: "\e601";
}

.icon-right-arrow:before {
  content: "\e8f1";
}

.icon-microphone:before {
  content: "\e8f7";
}

.icon-gift:before {
  content: "\e651";
}

.icon-search:before {
  content: "\eb86";
}

.icon-check:before {
  content: "\e627";
}

.icon-add:before {
  content: "\e67b";
}

.icon-class:before {
  content: "\e608";
}

.icon-photo:before {
  content: "\e635";
}

.icon-delete:before {
  content: "\e63c";
}

