<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro to Vue3</title>
    <link rel="stylesheet" href="./styles.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
</head>
<body>
    <div id="app">
        <h2>{{ product }}</h2>
        <p>{{ description }}</p>
        <div class="product-image">
            <img v-bind:src="image" :alt="product">
        </div>
        <a :href="url">Vue 3 官网</a>
        <div v-if="inStock">In Stock</div>
        <div v-else>Out of Stock</div>

        <p v-if="onSale">On Sale</p>
    </div>
    <!-- Mount App 应用挂载 -->
    <script>
        const mountedApp = app.mount("#app")
    </script>
</body>
</html>